html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bg-wrapper {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.menu {
  float: right;
  width: 40%;
  height: 10%;
  margin: 0;
  padding-top: 15px;
}

button.signup {
  background-color: #fff;
  border-radius: 20px;
  color: blue;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  font-family: Arial, sans-serif;
}

a {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration-color: #fff;
  text-decoration: none;
}

a:hover {
  color: #acfdfe;
}

.logo-wrapper {
  width: 80px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-wrapper img {
  height: 100%;
  width: auto;
  box-sizing: border-box;
}

.text-wrapper {
  background-position: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 150px;
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: #acfdfe;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin: 0;
}

.line {
  position: relative;
  margin: auto;
  padding-top: 30px;
  width: 300px;
  border-bottom: 3px solid lightblue;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 15px;
  color: #acfdfe;
}
